body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    width: 100%;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.top__heading {
    font-size: 60px;
    color: #1f3f68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    text-align: start;
}

.top__menu__background {
    width: 60px;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
}

.heading__mini {
    font-size: 16px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 0.05em;
}

.top__space {
    width: 100%;
}

.top__bottom {
    width: 100%;
    background: #EBF3FB;
}

.top__menu__container {
    display: flex;
    justify-content: space-between;
}

.top__menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 10px;
}

.top__menu__navi {
    margin-right: 5px;
    border-radius: 10px;
    background: none;
    display: flex;
}

.top__menu__navi:hover {
    background: #deecf8;
}

.top__menu__navi-link {
    margin-top: 10px;
    border-radius: 10px;
    background: none;
    display: flex;
    justify-content: center;
}

.top__menu__navi-link:hover {
    background: #deecf8;
}




.top__menu__search__button-area {
    width: 40px;
    border: none;
    border-radius: 10px;
}
.top__menu__search__button-area:hover {
    background: #deecf8;
}

.top__menu__search__area {
    width: 200px;
    height: 22px;
    margin-right: 5px;
    border: 1px solid #316099;
    border-radius: 5px;
}

.top__menu__text {
    font-size: 14px;
    line-height: 20px;
    color: #253c58;
    letter-spacing: 0.05em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    cursor: default;
    text-decoration: none;
}

.top__menu__image {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navi__bottom {
    width: 100%;
    background-color: #EBF3FB;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content {
    width: 100%;
}
.navi__content {
    width: 100%;
    margin: 0 auto;
    background-color: #EBF3FB;
    display: flex;
}

.bottom__menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}

.bottom__menu__navi {
    margin-right: 5px;
    border-radius: 10px;
    background: none;
    display: flex;
    justify-content: center;
}

.bottom__menu__navi-active {
    margin-right: 5px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
}

.bottom__menu__navi:hover {
    background: #fff;
}
.bottom__menu__search__button-area {
    width: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}
.bottom__menu__search__button-area:hover {
    background: #fff;
}

.card__box__list {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    background-image: url(img/cell.png);
    background-size: 50%;
    background-position: center;
}

.card__box__component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.card__box__component-element {
    width: 30%;
    margin: 5px 5px;
    border-right: 1px solid #253c58;
    padding-top: 5px;
}

.card__box__component-link {
    height: 40px;
    width: 50px;
    margin: 5px 5px;
    background-image: url(img/view_project.png);
    background-repeat: no-repeat;
    background-size: 80%;
    border-left: 1px solid #253c58;
    color: rgba(0, 0, 0, 0);
}

.card__box__component-text {
    font-size: 16px;
    line-height: 20px;
    color: #253c58;
    letter-spacing: 0.05em;
    padding: 1px;

}


.auth_main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 80, 128, 0.8);
}

.auth_main_content {
    position: relative;
    margin: 100px auto;
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}

.auth_main_content_header {
    width: 100%;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(22, 62, 97, 0) 31.12%);
    height: 18%;
    text-align: center;
    padding-top: 10px;
}

.auth_main_content_body {
    width: 100%;
    height: 55%;
    text-align: center;
}

.auth_main_content_body_input {
    width: 60%;
    margin: 18px auto 10px;
    height: 30px;
    border-radius: 5px;
}

.auth_main_content_body_submit {
    width: 63%;
    margin: 18px auto 10px;
    height: 33px;
    border-radius: 5px;
    color: white;
    background-color: #6485ad;
}

.auth_main_content_footer {
    width: 100%;
    height: 25%;
    background: #316099;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.auth_main_content_footer img {
    width: 40px;
    height: 40px;
    margin: 20px 5px 5px;
}

.project__info {
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #EBF3FB;
    margin: 10px 0;
}

.project__info__card {
    display: flex;
    margin: 10px;
}

.project__card__key {
    width: 150px;

    text-align: left;
}

.project__card__value {
    width: 400px;

    text-align: left;
}

.project__info_text_heading {
    color: #1f3f68;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}













.footer {
    margin-top: 20px;
    width: 100%;
    background: #316099;

}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer__list {
    width: 316px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-left: 15px;
    display: flex;
}

.footer__list:first-child::before {
    content: 'A. ';
    display: block;
    margin-right: 16px;
}

.footer__list:nth-child(2)::before {
    content: 'T. ';
    display: block;
    margin-right: 16px;
}

.footer__list:last-child::before {
    content: 'E. ';
    display: block;
    margin-right: 16px;
}

.footer__copy {
    height: 26px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 16px;
    box-sizing: border-box;
}

.footer__copy__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}


@media (max-width: 840px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right center;
        background-image: url(img/header_pad1.png);
        background-size: 25%;
    }

    .top__heading {
        font-size: 60px;
    }

    .heading__mini {
        font-size: 12px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__copy__text {
        font-size: 12px;
    }

    .footer__list {
        font-size: 12px;
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }

    .top__info {
        background-image: none;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .heading__mini {
        text-align: center;
    }
}